body{
    text-transform: uppercase;
    background: url('../img/banner.png') bottom right fixed no-repeat !important;
    width: 100%;
}

article{
    padding: 8%;
}

.bg-orange{
    background-color: #F9AD38;
}

.bg-blue{
    background: -webkit-linear-gradient(left, #65d6d1, #1761a0);
}

.bg-oneblue{
    background-color: #1761a0;
}

.on:hover{
    color: black !important;
}

.drop::after, .drop:hover {
    color: rgb(255, 255, 255) !important;
}

i:hover{
    color: black;
    cursor: pointer;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-search{
    border-radius: 50px !important;
}

.search{
    border-radius: 50px !important;
}

.tabela{
    margin-top: 2%;
}

tr.info:hover{
    cursor: pointer !important;
    background-color: #65d6d1 !important;
}

body {
    color: #6a6c6f;
    background-color: #f1f3f6;
    margin-top: 30px;
  }
  