body{
    text-transform: uppercase;
    background: url('../img/banner.png') bottom right fixed no-repeat !important;
    width: 100%;
}

article{
    padding: 8%;
}

.bg-orange{
    background-color: #F9AD38;
}

.bg-blue{
    background: -webkit-linear-gradient(left, #65d6d1, #1761a0);
}

.bg-oneblue{
    background-color: #1761a0;
}

.on:hover{
    color: black !important;
}

.drop::after, .drop:hover {
    color: rgb(255, 255, 255) !important;
}

i:hover{
    color: black;
    cursor: pointer;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-search{
    border-radius: 50px !important;
}

.search{
    border-radius: 50px !important;
}

.tabela{
    margin-top: 2%;
}

tr.info:hover{
    cursor: pointer !important;
    background-color: #65d6d1 !important;
}

body {
    color: #6a6c6f;
    background-color: #f1f3f6;
    margin-top: 30px;
  }

  .register {
    background: #f8f9fa;
    margin-top: 8%;
    padding: 3%;
}

footer {
    background: -webkit-linear-gradient(left, #65d6d1, #1761a0);
}

.register-left {
    text-align: center;
    color: black;
    margin-top: 0;
}

.register-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.register-left img.pular {
    color: black;
    margin-top: 1%;
    margin-bottom: 5%;

    -webkit-animation: mover 6s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    padding-top: 9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {
    float: left;
    margin-top: 5%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: -webkit-linear-gradient(left, #65d6d1, #1761a0);
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: -webkit-linear-gradient(left, #65d6d1, #1761a0);
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color:#65d6d1;
    border: 1px solid #65d6d1;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.in {
    width: 60%;
    margin-left: 120px;
}

.register-form {
    text-align: center;
}

.text {
    text-align: center;
}